<footer class="blog-footer">
    <p>Go Web项目开发实战（基于gin框架）艾文老师主讲</p>
</footer>

<!--侧边导航-->
<ul class="layui-nav layui-nav-tree layui-nav-side blog-nav-left layui-hide" lay-filter="nav">
    <li class="layui-nav-item layui-this">
        <a href="/v1/home"><i class="fa fa-home fa-fw"></i>&nbsp;首页</a>
    </li>
    <li class="layui-nav-item">
        <a href="/v1/article"><i class="fa fa-file-text fa-fw"></i>&nbsp;文章专栏</a>
    </li>
    <li class="layui-nav-item">
        <a href="/v1/resource"><i class="fa fa-tags fa-fw"></i>&nbsp;资源分享</a>
    </li>
    <li class="layui-nav-item">
        <a href="/v1/about"><i class="fa fa-info fa-fw"></i>&nbsp;关于本站</a>
    </li>
</ul>
<!--分享窗体-->
<div class="blog-share layui-hide">
    <div class="blog-share-body">
        <div style="width: 200px;height:100%;">
            <div class="bdsharebuttonbox">
                <a class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
                <a class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                <a class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
                <a class="bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a>
            </div>
        </div>
    </div>
</div>
<!--遮罩-->
<div class="blog-mask animated layui-hide"></div>
<!-- layui.js -->
<script src="/static/plug/layui/layui.js"></script>
<!-- 全局脚本 -->
<script src="/static/js/global.js"></script>
<script src="/static/js/home.js"></script>
<script src="/static/js/detail.js"></script>
<!-- 全局脚本 
<script src="/static/js/{{.actionName}}.js"></script>-->